
@{
                /**/

                Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterOk</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>


</head>
<body>
    <div>
        <h2>Tebrikler kayıt oldunuz...Lütfen email adresinize gönderdigimiz aktivasyon linkine tıklayarak hesabınızı aktif hale getiriniz</h2>
    </div>
</body>
</html>

<script>
    
      $(function(){

          setTimeout(function(){

        window.location = "/Register/RegisterNow";
    },5000)

    })
</script>